.project
.metadata
.classpath
.settings/
.loadpath
target/
bin/
build/
*~
# ================================================================================
# Dont track the emacs backup files
*\#*
# ====